@import '~muicss/lib/sass/mui/colors';

// customize MUI variables
$mui-primary-color:       mui-color('red', '500');
$mui-primary-color-dark:  mui-color('red', '700');
$mui-primary-color-light: mui-color('red', '100');

$mui-accent-color:        mui-color('green', 'A200');
$mui-accent-color-dark:   mui-color('green', 'A100');
$mui-accent-color-light:  mui-color('green', 'A400');

$white: #fff;
$black: #000;

$background-light: rgba(255, 255, 255, .16);
